:root {
  font-size: 62.5%;
  --marine-blue: #1A1B41;
  --light-blue: #6290C3;
  --green: #BAFF29;
  --white: #EAEAEA;
  --red: #C15050;
  font-family: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--marine-blue);
}

#__next{
  height: 100vh;
  width: 100vw; 
  display: flex;
  justify-content: center;
  align-items: center;
}